<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Accueil</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="./js/alertes.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-sm bg-danger navbar-dark">
    <a class="navbar-brand" href="#">Mat&eacute;riel BDS</a>
</nav>

<div class="container col-sm-8">
    <h2>Connexion</h2>
    <hr>
    <div id="alerteConnexionFail" class="alert alert-warning alert-dismissible hide-field">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Attention !</strong> L'adresse mail ou le mot de passe est incorrect.
    </div>
    <div id="alerteInscriptionSuccess" class="alert alert-success alert-dismissible hide-field">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Votre compte a &eacute;t&eacute; cr&eacute;&eacute; avec succ&egrave;s. Vous pourrez y acc&eacute;der apr&egrave;s l'avoir v&eacute;rifi&eacute; en cliquant sur le lien qui vous a &eacute;t&eacute; envoy&eacute; par mail.
    </div>
    <div id="alerteChangePwdSuccess" class="alert alert-success alert-dismissible hide-field">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Un nouveau mot de passe vous a &eacute;t&eacute; envoy&eacute; &agrave; l'adresse mail indiqu&eacute;e.
    </div>
    <form method="post">
        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" class="form-control" id="email" placeholder="Entrez votre email" name="email">
        </div>
        <div class="form-group">
            <label for="pwd">Mot de passe :</label>
            <input type="password" class="form-control" id="pwd" placeholder="Entrez votre mot de passe" name="mdp">
        </div>
        <div class="div-submit">
            <button type="submit" class="btn btn-danger">Valider</button>
        </div>
    </form>
    <h6><a href="inscription">S'inscrire</a></h6>
    <h6><a href="nouveaumdp">Mot de passe oubli&eacute;</a></h6>
</div>

</body>

</html>
