<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Compte</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="./js/alertes.js"></script>
</head>

<body>

<!--- Navigation menu --->
<nav th:replace="~{fragments::menu(compte, ${user})}"></nav>

<div class="container col-sm-10">
    <h2>Modifier mon mot de passe</h2>
    <hr>
    <div id="alerteChangePwdFail" class="alert alert-warning alert-dismissible hide-field">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Attention !</strong> Le nouveau mot de passe n'est pas renseign&eacute; ou le mot de passe de confirmation est diff&eacute;rent du nouveau.
    </div>
    <div id="alerteChangePwdSuccess" class="alert alert-success alert-dismissible hide-field">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Votre mot de passe a &eacute;t&eacute; modifi&eacute; avec succ&egrave;s.
    </div>
    <form method="post">
        <div class="form-group">
            <label for="previouspwd">Mot de passe actuel :</label>
            <input type="password" class="form-control" id="previouspwd" placeholder="Entrez votre mot de passe actuel"
                   name="ancienmdp">
        </div>
        <div class="form-group">
            <label for="newpwd">Nouveau mot de passe :</label>
            <input type="password" class="form-control" id="newpwd" placeholder="Entrez votre nouveau mot de passe"
                   name="newmdp">
        </div>
        <div class="form-group">
            <label for="cfmpwd">Confirmation mot de passe :</label>
            <input type="password" class="form-control" id="cfmpwd" placeholder="Confirmez votre mot de passe"
                   name="cfmmdp">
        </div>
        <div class="div-submit">
            <button type="submit" class="btn btn-danger">Modifier</button>
        </div>
    </form>
</div>

</body>

</html>
