<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sous-responsable</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="./js/sousresponsable.js"></script>
    <script src="./js/alertes.js"></script>
</head>

<body>

<!--- Navigation menu --->
<nav th:replace="~{fragments::menu(sousresponsable, ${user})}"></nav>

<div class="container col-sm-10">
    <h2>D&eacute;signer un sous-responsable</h2>
    <hr>
    <div id="alertePromotionFail" class="alert alert-danger alert-dismissible hide-field">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Erreur !</strong> La d&eacute;signation du sous-responsable n'a pas &eacute;t&eacute; prise en compte. Merci de r&eacute;essayer.
    </div>
    <div id="alertePromotionSuccess" class="alert alert-success alert-dismissible hide-field">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        La d&eacute;signation du sous-responsable s'est d&eacute;roul&eacute;e avec succ&egrave;s.
    </div>
    <p>En tant que pr&eacute;sident d'association, vous pouvez d&eacute;signer un sous-responsable afin qu'il puisse &eacute;galement
        modifier l'inventaire de l'association que vous pr&eacute;sidez. Ce statut sera valable un an.</p>
    <form method="post">
        <div class="form-group">
            <label for="student">Etudiant :</label>
            <select class="form-control" id="student" name="student">
                <option th:each="etudiant : ${listEtudiant}" th:value="${etudiant.id}"
                        th:text="${etudiant.nom}+' '+${etudiant.prenom}"></option>
            </select>
        </div>
        <div class="div-submit">
            <button type="submit" class="btn btn-danger">Valider</button>
        </div>
    </form>
</div>

</body>

</html>